<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>4PS MONITORING SYSTEM</title>
</head>
	<body>
		<form method="POST">
		{% csrf_token %}
		<h1>Member Form</h1>
		<label>Name:</label><input type="text" id="applicantName" size="30" name="attribute" placeholder="Enter your name here.">
		<input id="btnPindot"type="submit" name="btnPindot" value="Submit"/>
		<label>Name:</label><input type="text" id="ad" size="30" name="attribute" placeholder="Enter your name here.">
		<input id="btnf"type="submit" name="btnf" value="Submit"/>

	</form>
	<table id="registryTable">
		<tr>
			<td>1: {{NewName}}</td>
			<td>1: {{Name}}</td>

		</tr>
	</table>		
	</body>	
</html>